.gameContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:0 2vw;
  min-height: 40vw;
}
@media (max-width: 768px) {
  .gameContainer {
    flex-wrap: wrap;
  }
}

.upInformations {
  margin:1vw 2vw;
}

.scoreContainer {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}


button.rightAnswer {
  border-color: #33be92;
  cursor: default;
}
button.rightAnswer:hover, button.rightAnswer:active, button.rightAnswer:visited, button.rightAnswer:focus {
  background: #33be92;
  border-color: #33be92;
}

button.wrongAnswer {
  border-color: #de1d2d;
  cursor: default;
}
button.wrongAnswer:hover, button.wrongAnswer:active, button.wrongAnswer:visited, button.wrongAnswer:focus {
  border-color: #de1d2d;
  background: #de1d2d;
}

button.full {
  background: #5643fd;
}
button.full:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .answers {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .answers {
    display: flex;
    flex-direction: row;
  }
}

.finalScore h5 {
  color:#c2a6ae;
}
