@media (min-width: 768px) {
  body {
    background: #1d1135;
    background: linear-gradient(to left, #000000, #1d1135);
  }
}
@media (max-width: 768px) {
  body {
    background: #000000 !important;
  }
}
.container {
  margin: 3vw;
  color: #a8dadc;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
