@font-face {
  font-family: 'Nasalization';
  src: url(fonts/nasalization-free.regular.ttf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nasalization' !important;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  display: flex;
  flex-direction: column;
}

button {
  padding:15px;
  margin:5px !important;
  border: 1px solid #5643fd;
  border-radius: 4px !important;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

button:hover {
  background: #7649fe;
}

button.full {
  background: #5643fd;
}
button.full:hover {
  opacity: 0.7;
}

button.large {
  padding: 20px;
}
